@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
}

.container {
    height: 100vh;
    display: grid;
    background-color: blue;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 5fr;
    grid-template-areas: 
        "sidebar header"
        "sidebar main-content";
}

/* ///// Header \\\\\ */
.header {
    background-color: #fff;
    grid-area: header;
    display: grid;
    padding: 20px;
}
.header-search-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.search-bar {
    display: grid;
    grid-template-columns: 50px 1fr;
}
.search-bar input {
    border-radius: 25px;
    padding: 0 20px;
    border: none;
    outline: none;
    background-color: #E2E8F0;
    height: 70%;
    align-self: center;
}
.search-bar img, .user img:first-child {
    width: 25px;
    align-self: center;
    justify-self: center;
}

.user {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}
.user img:first-child {
    justify-self: flex-end;
}
.user span {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 600;
}
.user img:last-child {
    width: 50px;
}

.user-info-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.user-info img {
    width: 50px;
}


/* ///// Sidebar \\\\\ */
.sidebar {
    background-color: rgb(93, 116, 216);
    grid-area: sidebar;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 300px 150px;
    gap: 45px;
    padding: 20px;
}
.logo img {
    width: 50px;
    fill: white;
}
.logo a {
    display: grid;
    grid-template-columns: 70px 1fr;
    justify-content: start;
    align-items: center;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 25px;
}

.side-nav {
    display: grid;
}
.side-nav li {
    list-style: none;
}
.side-nav li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    display: grid;
    grid-template-columns: 50px 1fr;
    align-items: center;
    gap: 10px;
    padding: 10px 0;
}
.side-nav li a img {
    width: 25px;
    justify-self: center;
}
.side-nav li a:hover {
    background-color: rgba(246, 247, 250, 0.2);
}
/* ///// Main Content \\\\\ */
.main-content {
    background-color: rgb(204, 178, 209);
    grid-area: main-content;
}