@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
}

.container {
    height: 100vh;
    display: grid;
    background-color: blue;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 5fr;
    grid-template-areas: 
        "sidebar header"
        "sidebar main-content";
}

/* ///// Header \\\\\ */
.header {
    background-color: #fff;
    grid-area: header;
    display: grid;
    padding: 20px;
}
.header-search-container, .user-info-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.search-bar {
    display: grid;
    grid-template-columns: 50px 1fr;
}
.search-bar input {
    border-radius: 25px;
    padding: 0 20px;
    border: none;
    outline: none;
    background-color: #E2E8F0;
    height: 70%;
    align-self: center;
}
.search-bar img, .user img:first-child {
    width: 25px;
    align-self: center;
    justify-self: center;
}

.user {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}
.user img:first-child {
    justify-self: flex-end;
}
.user span {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 600;
}
.user img:last-child {
    width: 50px;
}

.user-info-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px 20px 0px 20px;
}
.user-info {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 15px;
}
.user-info p {
    display: grid;
    font-size: 20px;
    font-weight: bold;
}
.user-info p span {
    font-size: 13px;
    align-self: center;
}
.user-info img {
    width: 70px;
}
.user-nav {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    align-items: center;
    gap: 20px;
}
.user-nav button {
    background-color: rgb(77, 105, 182);
    border-radius: 25px;
    color: white;
    border: none;
    font-size: 15px;
    width: 120px;
    height: 35px;
}
.user-nav button:hover {
    cursor: pointer;
    background-color: rgba(77, 105, 182, 0.8);
}
.user-nav button:first-child {
    justify-self: end;
}
.user-nav button:nth-child(2) {
    justify-self: center;
}
.user-nav button:last-child {
    justify-self: start;
}


/* ///// Sidebar \\\\\ */
.sidebar {
    background-color: rgb(93, 116, 216);
    grid-area: sidebar;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 300px 150px;
    gap: 45px;
    padding: 20px;
}
.logo img {
    width: 50px;
    fill: white;
}
.logo a {
    display: grid;
    grid-template-columns: 70px 1fr;
    justify-content: start;
    align-items: center;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 25px;
}

.side-nav {
    display: grid;
}
.side-nav li {
    list-style: none;
}
.side-nav li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    display: grid;
    grid-template-columns: 50px 1fr;
    align-items: center;
    gap: 10px;
    padding: 10px 0;
}
.side-nav li a img {
    width: 25px;
    justify-self: center;
}
.side-nav li a:hover {
    background-color: rgba(246, 247, 250, 0.2);
}
/* ///// Main Content \\\\\ */
.main-content {
    background-color: rgb(233, 217, 236);
    grid-area: main-content;
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding: 25px 10px;
}
.card-container {
    display: grid;
    grid-template-rows: auto 1fr;
    padding: 0 20px;
    gap: 10px;
}
.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-template-rows: auto 1fr;
    gap: 25px;
}
.card-container > h3 {
    grid-column: 1 / -1;
}
.card {
    border-radius: 7px;
    background-color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    width: 100%;
    height: 200px;
    position: relative;
    padding: 30px;
    box-sizing: border-box;
    display: grid;
}
.card::before {
    content: "";
    width: 7px;
    height: 100%;
    background-color: red;
    position: absolute;
    left: 0;
    top: 0;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
}
.card-content h4 {
    padding-bottom: 3px;
}
.card-buttons {
    display: flex;
    align-self: center;
    justify-self: end;
    gap: 20px;
    padding-top: 10px;
}
.card-buttons button {
    border: none;
    background-color: transparent;
}
.card-buttons button:hover {
    cursor: pointer;
}
.card p {
    font-size: 14px;
    color: rgb(134, 134, 134);
}
.card-buttons img {
    width: 25px;
}

.news-feed {
    display: grid;
}